<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Homepage
    </title>
</head>
<body>
<% for (var i = 0; i < popularPosts.length; i++) { %>
    <p>
        <%=popularPosts[i].game%>
    </p>
<% } %>
</body>